
.unopart{


	h1 	{
		@include huno();
		font-size:70px;
		margin-top:300px;
		margin-left:400px;
		color:white;


		}
	h3 	{
		@include huno();
		margin-top:400px;
		margin-left:550px;
		color:white;

		}
	.hb{
		margin-left:350px;

	}
	button{
		@include huno();
		@include boton();
		margin-top:450px;
		margin-left:650px;
		background-color: #e91e63;	
			a{
		margin-left:30px;
		text-decoration: none;
		color:white;

	}
	}

}

.dospart{
	@include excel();

	p{
		@include margenparr();
	}
	 div {
	 	@include margen();
	 	.ico{
	 		font-size:$icono;
	 		color:#e91e63;
	 	}
	 	.dos{
			color:#00bcd4;
	 	}
	 	.tres{
	 		color:#4caf50;
	 	}
		
	}
	h4{
		@include h4();
	}

}
.clients{
	@include excel();

	img{
		
		@include imacirculo();

	}
	p{
		margin-top:30px;
		margin-bottom:30px;
		@include margenparr();
	}

	h4{
		@include h4();
	}
	
}
