$width_img:30%;
$parrafo:#999;
$icono:60px;
$parrafosize:17px;
$bordercirc:5px;
$shadow: 2px 2px 30px #999;

/*$type:colores;
div{
	@if $type == color{
		color:#e91e63;
	} @else if $type == .ico2{
		color:red;
	} @else{
		color:green;
	}
}*/